<template>
  <div id="verification">
    <a v-for="url in accountURLs" :key="url" rel="me" :href="url"></a>
  </div>
</template>

<script>
export default {
  props: {
    accounts: {
      type: Array,
      required: true
    }
  },
  computed: {
    accountURLs () {
      return this.accounts.map(i => {
        const arr = i.split('@').slice(-2)
        return `https://${arr[1]}/@${arr[0]}`
      })
    }
  }
}
</script>

<style>
#verification {
  display: none;
}
</style>
