<template>
  <div class="level need-margin container">
    <nav v-for="(skill, index) in skills" :key="index">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">{{skill.name ? skill.name : skill}}</p>
          <p class="title">{{skill.ability ? skill.ability : "OK"}}</p>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  props: {
    skills: {
      type: Array,
      required: true
    }
  }
}
</script>
