<template>
<div class="container">
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="~/assets/logo.svg">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <strong>Basix</strong><small v-if="mastodon">&nbsp;@Basix@niu.moe</small>
        <br>
        <p v-html="content" />
        <nav class="level is-mobile" v-if="mastodon">
          <div class="level-left">
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-reply"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-retweet"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-heart"></i></span>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </article>
</div>
</template>

<script>
export default {
  props: {
    content: {
      type: String,
      required: true
    },
    mastodon: {
      type: Boolean,
      default: false
    }
  }
}
</script>
