<template>
    <form name="contact" method="POST" class="container" netlify>
        <input type="hidden" name="form-name" value="contact" />
        <b-field horizontal label="Subject">
            <b-input name="subject" expanded></b-input>
        </b-field>
        <b-field horizontal label="From">
            <b-input name="name" placeholder="Name" expanded></b-input>
            <b-input name="email" type="email" placeholder="example@example.com" expanded></b-input>
        </b-field>
        <b-field horizontal label="Message">
            <b-input type="textarea"></b-input>
        </b-field>
        <b-field horizontal><!-- Label left empty for spacing -->
            <div class="control">
                <button type="submit" class="button is-primary">
                  Send message
                </button>
            </div>
        </b-field>
    </form>
</template>

<style>
form.container {
    margin-top: 1em;
}
</style>
