<template>
  <section>
    <MastodonVerification :accounts="['@Basix@niu.moe', '@Basix@twingyeo.kr']" />
    <Hero title="Welcome to Basixpage!" subtitle="This website is a place of Basix :)" :classes="['is-medium', 'is-primary', 'is-bold']">
      <div class="hero-head">
        <Navbar :watermark="true" />
      </div>
    </Hero>
    <div class="container">
      <div class="card need-margin">
        <div class="card-header">
          <p class="card-header-title">Short Bio</p>
        </div>
        <div class="card-content">
          <Toot content="Living in South Korea, and I'm into Programming, FOSS, Fediverse. I use JavaScript, Kotlin, TypeScript for creating beautiful web applications." />
        </div>
      </div>
    </div>
    <Skills :skills="['Android', 'Web', 'Linux', 'English', 'Docker', 'Node.js']" />
  </section>
</template>

<script>
import Hero from '~/components/Hero'
import Navbar from '~/components/Navbar'
import Toot from '~/components/Toot'
import Skills from '~/components/Skills'
import MastodonVerification from '../components/MastodonVerification.vue'

export default {
  components: {
    Hero, Navbar, Toot, Skills, MastodonVerification
  }
  layout: 'clear'
}
</script>

<style>
.need-margin {
  margin-top: 2em;
}
.card-content > * {
  width: 100%;
}
</style>
